# Sample of my gitconfig
#
# This is a sample gitconfig. Usually we keep a lot of sensitive information
# here (things like authentication tokens, email addresses, and so on), so this
# file is ignored in this project's .gitignore. But this is (roughly) how I have
# my main gitconfig setup.
#
# To set this up, rename this file to `gitconfig.symlink` and you'll be able to
# install this to the correct location by running the project's main `rake`
# task.

[user]
        name = Gordon Fontenot
        email = your@example.com

[alias]
  co = checkout
  wtf     = !$ZSH/bin/git-wtf
  rank = !$ZSH/bin/git-rank-contributers
  count   = !git shortlog -sn

  lol = log --pretty=oneline --abbrev-commit --graph --decorate

  amend = commit --amend -C HEAD
  credit = commit --amend --author "$1 <$2>" -C HEAD

  undo = reset --soft HEAD^
  rh = reset --hard

  unstage = reset HEAD
  staged = difftool --cached
  unstaged = difftool

  current-branch = !git symbolic-ref -q HEAD | sed -e 's|^refs/heads/||'
  alias = config --get-regexp 'alias.*'

[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
  wtf = true

[core]
  excludesfile = ~/.gitignore
  editor = "mvim -v"

[apply]
  whitespace = warn

[mergetool]
  keepBackup = false

[help]
  autocorrect = 1

[status]
  submodule = 1

[push]
  # Only push branches that have been set up to track a remote branch.
  default = current

# Kaleidoscope

[difftool "Kaleidoscope"]
  cmd = ksdiff-wrapper git \"$LOCAL\" \"$REMOTE\"
[difftool]
  prompt = false
[diff]
  tool = Kaleidoscope
