/*
 * This is the default style of Kod. If you wish to modify this to your liking,
 * make a copy and put it in ~/.kod/mystyle.css then tell Kod where to find it
 * by setting a configuration key:
 *
 *  $ defaults write se.hunch.kod style/url ~/.kod/mystyle.css
 *
 * You might need to restart Kod for changes to take effect. Then, simply open
 * your ~/.kod/mystyle.css in Kod -- when edited and saved Kod will
 * automatically reload the style, thus you see the effect of your alterations.
 */
body {
  font-family: "Monaco", monospace;
  font-size: 12px;
  background-color: #232323;
  color: #EEE;
  border-right: 10px solid #000;
}

/* color of the caret and selection range */
caret { color: #FFF; }
selection { background-color: #5A647E; }

/* the color for context lines (when specified with line ranges) */
metaruler {
  color: #555;
  background: #191919;
  border-right: 3px solid #252525;
  font-size: 13px;
}

keyword { color: #CC7833; }
type { color: #fff; } /*TODO*/
usertype { color: #CAC059; } /*TODO*/
classname { color: #FFFFFF; }
string { color: #A5C261; }
specialchar { color: #C0D164; background-color:#2B2F26; } /*TODO*/
regexp { color: #FFB14B; background-color:#342C22; } /*TODO*/
comment { color: #996633; }
number { color: #A5C261; }
preproc { color: #9C8B7C; } /*TODO*/
symbol { color: #fff; } /*TODO*/
function { color: #FFC66D; }
cbracket { color: #ddd; } /*TODO*/
todo { color: #946B57; font-weight: bold; } /*TODO*/

/* Internet related */
url {
  color: #5a98d2; text-decoration: underline; /*TODO*/
  cursor: pointer; /*TODO*/
}

/* other elements for ChangeLog and Log files */
date { color: #F09C9F; font-weight: bold; } /*TODO*/
time, file { color: #A78AB0; font-weight: bold; } /*TODO*/
ip, name { color: #8CB194; } /*TODO*/

/* for Prolog, Perl, lang */ /*TODO*/
variable { color: #fff685; }
italics { text-decoration: underline; font-style: italic; }
bold { color: #fff; font-weight: bold; }

/* for LaTeX, markdown, etc */ /*TODO*/
underline { color: #3C7E5B; text-decoration: underline; }
fixed { color: #bbeecc; background-color: #2c2c2c; }
argument, optionalargument { color: #9194BB; }
math { color: orange; }
bibtex { color: #8D86EE; }
h1,h2,h3,h4,h5,h6 { color: lightsalmon; }
ul, ol { color: yellow; }

/* for diffs */
oldfile { color: #f7bfb6; background-color:#42201C; }
newfile { color: #cff7bf; background-color:#144212; }
difflines { color: white; background-color:#3D96DE; }

/* for css */
selector { color: #CDDE87; }
property { color: #e8bf6a; }
value { color: #abc837; }

/* for Oz, Erlang, etc */
atom { color: orange; }
meta { font-style: italic; }