customCommands:
  - key: 'N'
    context: 'localBranches'
    prompts:
      - type: 'input'
        title: 'What is the new branch name?'
        key: 'BranchName'
        initialValue: 'gfontenot/'
    command: 'git checkout -b {{.Form.BranchName}} && git push origin {{.Form.BranchName}} --set-upstream'
    description: 'Create a new branch, push it, and set the upstream'
git:
  branchPrefix: 'gfontenot/'
  branchLogCmd: 'git log --color=always --format=custom'
  pagers:
    - colorArg: always
      pager: delta --dark --paging=never --line-numbers --hyperlinks --hyperlinks-file-link-format="lazygit-edit://{path}:{line}"
gui:
  nerdFontsVersion: "3"
